@charset "utf-8";
/* CSS Document */

body{
	margin: 10px;
	border: 0px;
	padding: 0px;
}

#login_heading {
	margin-left: 40px;
}

ul{
	list-style-type:none;
}

p{
	font-size:20px;
	margin-bottom:3px;
}

form li{
	margin-bottom:7px;
}

li input{
	float: right;
}

th{
	text-align:left;
	width: 250px;
}

form button{
	width:150px;
	height:30px;
}

#login_form{
	width: 300px;
}

#upload_form{
	width:380px;
}

#path_input{
	width:300px;
}

#image_page_giraf{
	width:20%;
	height:20%;	
}
#image_page_vildsvin{
	width:20%;
	height:20%;	
}

#image_page_aber{
	width:20%;
	height:20%;	
}

#image_page_bavian{
	width:20%;
	height:20%;	
}

#upload_button{
	float:left;
}

#users_button{
	float:left;
}

#login_button{
	float:left;
}

#add_user_button{
	float:left;
}

#add_user{
	float:left;
	width:310px;
}
